* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  background-image: url(/images/appointment.jpg);
  position: absolute;
  background-position: center;
}

.form_container {
  width: 500px;
  height: 350px;
  position: relative;
  margin: 10% auto;
  background: whitesmoke;
  padding: 5px;
  border: 2px solid blue;
  border-radius: 10px;
  overflow: hidden;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.form {
  margin-left: 5%;
}

label {
  font-size: 20px;
  font-weight: bold;
}

.input-area {
  width: 90%;
  padding: 7px 0;
  margin-bottom: 5%;
}

.btn {
  width: 20%;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(109, 199, 252);
}

.btn:hover {
  background-color: rgb(141, 211, 141);
  font-weight: bold;
  text-decoration: underline rgb(141, 211, 141);
}
